body {
    margin: 0;
    color: white;
    font-family: "Raleway", "Odoo Unicode Support Noto", sans-serif;
}

button {
    background: none;
    border: none;
    color: white;
    position: absolute;
    cursor: pointer;
}

main {
    position: absolute;
    width: 90%;
    height: 95vh;
    margin-top: 5%;
    padding: 0 5% 0 5%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.4);
}

span {
    font-weight: bold;
    line-height: 30px;
}

.voorstelling > img {
    width: 10%;
    float: right;
    margin-left: 20px;
}

em {
    position: absolute;
    bottom: 0;
    color: rgb(112, 110, 110);
}

.datespan {
    float: right;
}

#thalento {
    display: flex;
    justify-content: space-between;
}

/*Scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(36, 35, 35);
    border-radius: 10px;
}

/*Mobile*/

@media only screen and (max-width: 600px) {
    .voorstelling > img {
        width: 50%;
        float: none;
        margin: auto;
    }
}