body {
    margin: 0;
    color: white;
    font-family: "Raleway", "Odoo Unicode Support Noto", sans-serif;
}

main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0 5% 0 5%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.4);
}

span {
    font-weight: bold;
    line-height: 30px;
}

#voorstelling > img {
    width: 12%;
    float: right;
    margin-left: 20px;
    border-radius: 20px;
}

#thalento {
  margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
}

#thalento > img {
    border-radius: 30px;
}

#toolArrow {
  position: absolute;
  bottom: 10px;
  right: 40px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#tools {
  position: absolute;
  bottom: 50px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
}

#tools.hidden {
  display: none;
}

button{
  background: none;
  color: #00ff2a;
  border: 2px solid rgb(36, 35, 35);
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
}

button.true {
  border-color: #00ff2a;
}

/* nav */

.displayNone {
  display: none;
}

.nav {
  display: flex;
  justify-content: left;
}

.nav > button {
  margin-left: 50px;
  color: white;
  border: 2px solid white;
  transform: skew(-20deg);
  padding: 10px 20px;
}

.nav > button:hover {
  border: 2px solid #00ff2a;
}

.nav > button > div {
  transform: skew(20deg);
  font-size: large;
}

@media (max-width: 767.98px) {
  .nav {
    display: block;
    text-align: center;
  }

  .nav > button {
    margin: 0 0 10px 0;
  }

  .nav > button > div {
    font-size: medium;
  }
}

/*Scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(36, 35, 35);
    border-radius: 10px;
}

/*Mobile*/

@media only screen and (max-width: 600px) {
    #voorstelling > img {
        width: 50%;
        float: none;
        margin: auto;
    }

    #thalento {
      margin: 0;
      flex-wrap: wrap;
    }

    #thalento > img {
      margin-top: 20px;
    }
}

/* Legend */
.legend {
  width: 50%;
  margin: 10px auto 50px auto;
  display: flex;
  justify-content: space-between;

  background-color: rgb(36, 35, 35);
  padding: 20px;
  border-radius: 40px;
}

.legendItem {
  display: flex;
  justify-content: space-between;
}

.legendItem > p {
  margin: 0 0 0 10px;
}

@media (max-width: 767.98px) {
  .legend {
    width: 100%;
    flex-direction: column;
    padding: 18px 40px 10px 40px;
  }

  .legendItem {
    margin-bottom: 10px;
    vertical-align: middle;
    text-align: center;
  }

  .legendItem > i {
    width: 14px;
  }
}

/*Timeline*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

i {
  color: #00ff2a;
}

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline > .year {
  position: relative;
  padding: 20px;
  border-radius: 40px;
  margin: auto;
  width: fit-content;
  background-color: rgb(36, 35, 35);
  z-index: 1;
  color: #00ff2a;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #ffffff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid rgb(36, 35, 35);
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #ffffff;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.left .datespan {
    right: -100px;
}

.container.right .date {
  left: -75px;
}

.container.right .datespan {
    left: -100px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: none;
  border: 2px solid #ffffff;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: rgb(36, 35, 35);
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #00ff2a;
  text-align: center;
}

.container .content p {
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: white;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

.container .content:hover p {
  
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .timeline > .year {
    margin-left: 45px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 0;
  }

  .container .content:hover p {
    max-height: 0;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #ffffff transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .datespan,
  .container.right .datespan {
    right: auto;
    left: 0px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}


/*Selectie*/

#activityReportSelect {
  margin: 20px;
  border-color: #00ff2a;
  color: #00ff2a;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(36, 35, 35);
  outline: none;
  font-size: large;
}

.report {
  margin-top: 50px;
}

.report.hidden {
  display: none;
}

.imageContainer {
  text-align: center;
  margin: 20px 0 20px 0;
}

.imageContainer > img {
  width: 35%;
  margin: 0 5%;
}

.imageContainer > img.small {
  width: 20%;
}

.imageContainer > img.smaller {
  width: 25%;
}

.imageContainer > img.large {
  width: 70%;
}